.datasets-profile {
  padding-bottom: 100px;
}

.title {
  width: 98%;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  display: flex;
}

.title h1{
  margin-right: auto;
}

.model-link {
  color: #F66D51;
  text-decoration: underline;
  font-weight: 600;
}

.genric-btn {
  display: inline-flex;
  /* letter-spacing: normal; */
  /* text-indent: 0px; */
  align-items: center;
}

.datasets-wrapper {
  width: 98%;
  margin: 0 auto;
}

.datasets {
  
}

.datasets-content {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 5px;
}

.datasets-content p {
  margin-bottom: 0 !important;
}


.datasets-content > div {
  width: 95%;
  margin: 0 auto;
}

.datasets-content-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: .75em;
}

.datasets-content-inner p{
  padding-bottom: .75em ;
  font-size: 16px;
}

.dataset-title {
  overflow-x: hidden;
  /* max-width: 212px; */
  text-overflow: ellipsis;
}

input[type="file"] {
  visibility: hidden;
  position: absolute;
}
