.datasets-versioning {
  width: 100vw;
  height: 100%;
  padding: 1rem;
}

.datasets-versioning h3 {
  padding-left: 1rem;
  margin-bottom: 0 !important;
}

.versioning-row {
  display: flex;
  justify-content: space-between;
}

.versioning-col {
  display: flex;
  padding: 1rem;
  height: 900px;
}

.versioning-col.left-col {
  flex: 1;
}

.versioning-col.right-col {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.versioning-col.left-col .content {
  border-radius: 5px;
}

.wrapper-up {
  /* height: 450px; */
}

.wrapper-down {
  display: flex;
  margin-top: 50px;
}

.wrapper-down .content {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  border-radius: 10px;
  height: 100%;
  padding: 14px 12px;
}

.wrapper-down .content.left {
  height: 220px;
  margin-right: 20px;
}

.wrapper-down .content.right {
  justify-content: flex-start;
}

.wrapper-down .content.right h5 {
  text-align: left;
}

.wrapper-down .content.right p {
  margin-bottom: 0!important;
}

.wrapper-down .content p {
  font-size: 1rem;
  color: black;
}

.content {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 1px 2px 7px -2.5px rgba(68, 68, 68, 0.6);
  white-space: pre-line;
}

h5.table-title {
  color: #F66D51;
  padding-top: 20px;
  padding-left: 20px;
}

.mock-timeline {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.timeline-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.timeline-content.left {
  align-items: flex-end;
}

.timeline-content.center {
  color: #58b9ef;
}
.timeline-nz, .table-nz {
  margin: 0px 1em;
}

.timeline-nz {
  margin-top: 33px;
}

.timeline-nz p {
  margin-bottom: .35rem;
}

.timeline-nz p.date {
  font-size: 12px;
  color: #999999;
  font-weight: 600;
}

.timeline-version:hover{
  text-decoration: underline;
  color: #F66D51;
  cursor: pointer;
}

.timeline-version.active{
  color: #F66D51;
  font-weight: 600;
}

.model-recommendation, .dataset-overview, .no-recommendation{
  padding: 0px 12px;
}

.dataset-overview{
  max-width: 300px;
}

.genric-btn {
  line-height: 30px;
  padding: 0px 25px;
}

.ant-input-number-focused, .ant-input-number:hover,.ant-input-number:focus, .ant-input-number:active {
  box-shadow: none;
  border-color: #F66D51;
  border-right-width: 1px!important;
}

.other-models {
  margin-top: 12px
}

.loading h5 {
  margin-bottom: 0 !important;
  font-size: 18px;
}

.loading .spinner-grow{
  margin: 0px 3px;
}
