.model-wrapper {
  width: 98%;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: auto auto auto auto; */
  display: flex;
  justify-content: space-between;

}
.model-profile {
  margin-bottom: 50px;
  margin-top: 3.75rem;
}

.model-content {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 98%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.title {
  width: 98%;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  display: flex;
}

.title h1{
  margin-right: auto;
}

.model-content > div {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button-row {
  display: block !important;
}


.add-button {
  background-color: #1e7e4e;
  border: 1px solid #1e7e4e;
  color: white;
  border-radius: 2px;
  font-size: 17px;
  padding: .35rem .85rem;
  vertical-align: middle;
  display: flex;
  /* letter-spacing: normal; */
  /* text-indent: 0px; */
  align-items: center;
}

.add-button:active,
.add-button:hover,
.add-button:focus,
.add-button:visited {
  background-color: #196941;
  border: 1px solid #196941;
  box-shadow: none;
}

.add-button::selection {
  background: #196941!important;
}
