<div class="model-profile">
  <div class="title">
    <h1 style="margin-bottom: 0px;">Models</h1>
    <a class="genric-btn primary-border" (click)="showModal()">Add</a>
    <nz-modal [(nzVisible)]="isVisible" nzClosable="false" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <p>Content one</p>
      <p>Content two</p>
      <p>Content three</p>
      <p>Content three</p>
    </nz-modal>
  </div>
  <div nz-row nzGutter="[hGutter, vGutter]" class="model-wrapper">
    <div nz-col nzSpan="6" class="model" *ngFor="let item of dataList | slice:0:4;">
      <div class="model-content">
        <div nz-row>
          <div nz-col nzSpan="12">
            <B class="model-title">{{item.name}}</B>
          </div>
          <div nz-col nzSpan="12">
            <a (click)='onSelectModel(item)' class="model-link right">View</a>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12" class="model-label">Type</div>
          <div nz-col nzSpan="12" class="model-type">{{item.type}}</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12" class="model-label" >Version</div>
          <div nz-col nzSpan="12" class="float-right" style="font-size: 14px" >{{item.version}}</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12" class="model-label">Model Grade</div>
          <div nz-col nzSpan="12">Great</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12" class="model-label">Month</div>
          <div nz-col nzSpan="12">7</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12" class="model-label">Target</div>
          <div nz-col nzSpan="12">Wheat yield</div>
        </div>
        <div nz-row class="button-row">
          <div nz-col nzSpan="24">
            <button type="button" class="btn submit-model" style="width: 100%;"> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
