<div class="metric-comparision">
  <h3 class="text-capitalize">overall metrics comparision</h3>
  <nz-table #basicTable [nzData]="dataList" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Model Name</th>
        <th>r2 score</th>
        <th>rmse</th>
        <th>mse</th>
        <th>mae</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.r2_score.toFixed(4)}}</td>
        <td>{{data.rmse.toFixed(4)}}</td>
        <td>{{data.mse.toFixed(4)}}</td>
        <td>{{data.mae.toFixed(4)}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
