<p>
  <b>Regression metrics</b>
</p>

<error-outlook></error-outlook>
<filter-present
  [cropType]='cropType'
  [selectedCropType]='filterOptions.crop'
  (selectCropType)="selectCropType($event)"

  [targetType]='targetType'
  [selectedTarget]='filterOptions.target'
  (selectTargetType)="selectTargetType($event)"

></filter-present>

<div echarts [options]="chartOption" class="demo-chart"></div>

<br/>
<br/>
<br/>

<div nz-row>
  <div nz-col nzSpan="8">
    <p>R2</p>
    <p>{{r2Score}}</p>
    <nz-progress nz-tooltip nzTitle="mockup" [nzPercent]="100" [nzSuccessPercent]="r2ScoreShow">

    </nz-progress>
  </div>
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <p>RMSE: </p>
    <nz-progress [nzPercent]="100" [nzSuccessPercent]="100" nzType="circle" [nzFormat]="formatRMSETitle" [nzWidth]="80" [nzStrokeColor]="{ '0%': '#108ee9', '50%': '#2db7f5', '100%': '#87d068' }">

    </nz-progress>

  </div>
</div>
