<p>
  <b>Regression metrics</b>
</p>

<p>{{model.name}}</p>

<error-outlook></error-outlook>
<filter-present [taget]='taget' [state]='state' [type]='type' (selectTarget)="selectTarget($event)"></filter-present>
abc
<h4 *ngFor='let item of data.taget'>
  {{item}}
</h4>
<div echarts [options]="chartOption" class="demo-chart"></div>

<br/>
<br/>
<br/>

<div nz-row>
  <div nz-col nzSpan="8">
    <p>R2</p>
    <nz-progress nz-tooltip nzTitle="mockup" [nzPercent]="100" [nzSuccessPercent]="r2Score">

    </nz-progress>
  </div>
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <p>RMSE: </p>
    <p style="font-weight: bolder" >{{rmse}}</p>
    <!-- <nz-progress nz-tooltip nzTitle="mockup" [nzPercent]="100" [nzSuccessPercent]="rmse">

    </nz-progress> -->

  </div>
</div>
