<div class="model-select">
  <form class="form-inline mb-3">
    <div class="form-group mr-3">
      <B style="display: block;float: left;margin-right: 5px;">Model</B>
      <nz-select [(ngModel)]="selectedType" (ngModelChange)="typeChange($event)" style="width: 160px;display: block;float: right;" nzPlaceHolder="Choose Model Type" [nzOptions]="mlOpts" [ngModelOptions]="{standalone: true}"></nz-select>
    </div>
    <div class="model-input form-group">
      <a type="button" class="genric-btn primary-border" (click)="filePicker.click()">Add Model</a>
      <input type="file" #filePicker (change)="onModelPicked($event)" >
    </div>
  </form>

  <div nz-row [nzGutter]="[hGutter, vGutter]">
    <div nz-col nzSpan="12" *ngFor="let item of dataList">
      <div class="model">
        <div nz-row>
          <div nz-col nzSpan="12" class="float-left" ><B>{{item.name}}</B></div>
          <div nz-col nzSpan="12" class="float-right" style="justify-content: flex-end;" ><a (click)='onSelectModel(item)' class="model-link"><i class="fas fa-chart-line"></i></a></div>
          <div nz-col nzSpan="12" class="float-left" >Type</div>
          <div nz-col nzSpan="12" class="float-right" >{{item.type}}</div>
          <div nz-col nzSpan="12" class="float-left" >Version</div>
          <div nz-col nzSpan="12" class="float-right" style="font-size: 14px" >{{item.version}}</div>
          <div nz-col nzSpan="12" class="float-left" >Model Grade</div>
          <div nz-col nzSpan="12" class="float-right" >Great</div>
          <div nz-col nzSpan="12" class="float-left" >Month</div>
          <div nz-col nzSpan="12" class="float-right" >7</div>
          <div nz-col nzSpan="12" class="float-left" >Target</div>
          <div nz-col nzSpan="12" class="float-right" >Wheat yield</div>
          <div nz-col nzSpan="24" >
              <button type="button" class="btn submit-model" style="width: 100%;"> </button>
          </div>
      </div>
      </div>
  </div>
  </div>

</div>
