<nav class="navbar navbar-expand-lg navbar-light bg-green" style="padding: 2.25rem">
  <div class="nav-logo">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/Agtuary.png" height="60" alt="" loading="lazy">
    </a>
  </div>
  <div class="nav-title mr-auto">
    <h3>internal dashboard</h3>
    <span>online service</span>
  </div>
  <div class="account">
    <a *ngIf="isLogin" href="/profile/{{userId}}">
      <h3>Hello User</h3>
    </a>
    <a *ngIf="!isLogin" href="/login">
      <h3>Login</h3>
    </a>
  </div>
  <div class="bottom-line"></div>
</nav>

<nav class="navbar navbar-expand-lg shadow-sm" style="padding: 0 .5rem" [hidden]="isVersioning">
  <ul class="navbar-nav group-1 mr-auto">
    <li class="nav-item ">
      <a class="nav-link" href="#">Link 1</a>
    </li>

    <li class="nav-item ">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="#">Models</a>
    </li>

  </ul>
  <ul class="navbar-nav group-2">
    <li class="nav-item ">
      <a class="nav-link" href="#">Notifications</a>
    </li>

    <li class="nav-item ">
      <a class="nav-link" href="#">Account Settings</a>
    </li>

  </ul>
</nav>