<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="info-section shadow row d-flex align-items-center">
                <div class="avatar-section col-5">
                    <div class="avatar avatar-128"><span>G</span></div>
                </div>
                <div class="identity-section col-7">
                    <h4>Jack Sparrow</h4>
                    <h6>Engineering</h6>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-7">
            <h4>activities</h4>
        </div>
    </div>
</div>