<!-- <div nz-row>
    <div nz-col nzSpan="12">
        <model-select [dataList]='dataList' (onSubmit)='parentFunction($event)'></model-select>
    </div>
    <div nz-col nzSpan="12">
        <model-present [model]='singleData'></model-present>
    </div>
  </div> -->

  <div class="model-page-container container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6">
            <model-select [dataList]='dataList' (onSubmit)='parentFunction($event)'></model-select>
        </div>

        <div class="col-12 col-lg-6">
            <model-present [model]='singleData'></model-present>
        </div>
    </div>
  </div>